/* MEDIA */
#index {
    @media (max-width:320px) {
        .navbar {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "nav nav nav nav"
                "header header header header"
                "footer footer footer footer";
        }

        div .nav {
            display: inline-block;
        }

        .barra {
            display: flex;
            flex-direction: column;
        }

        .jordan {
            width: 200px;
        }

        .link {
            display: inline-block;
        }

        .link li {
            margin-top: 24px;
        }

        .precio {
            display: flex;
            flex-direction: column;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

        div .footer {
            display: inline-block;
            max-height: 50vh;
        }

        div .redes i {
            font-size: 55px;
        }
    }

    @media (max-width:425px) {
        .navbar {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "nav nav nav nav"
                "header header header header"
                "footer footer footer footer";
        }

        div .nav {
            display: inline-block;
        }


        .barra {
            display: flex;
            flex-direction: column;
        }

        .jordan {
            width: 200px;
        }

        .link li {
            margin-top: 24px;
        }

        .link {
            display: inline-block;
        }

        .precio {
            display: flex;
            flex-direction: column;
        }

        .listado1 {
            display: inline-block;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

        #index div .footer {
            display: inline-block;
        }
    }

    @media (min-width:1024px) {
        .jordan {
            max-width: 100px;
            ;
        }

        input {
            width: 150px;
        }


        .column h1 {
            font-size: 20px;
        }

        .column h3 {
            font-size: 20px;
        }

        div .redes i {
            font-size: 30px;
        }

    }

    @media (max-width:1440px) {
        .jordan {
            max-width: 200px;
            ;
        }

        input {
            width: 150px;
        }

        .column h1 {
            font-size: 20px;
        }

        .column h3 {
            font-size: 20px;
        }

        div .redes i {
            font-size: 30px;
        }
    }

    @media (min-width:2560px) {
        .menu {
            font-size: 30px;

        }

        .barra #caja-talles {
            font-size: 28px;
        }

        i {
            font-size: 30px;
        }

        .listado1 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        ul {
            font-size: 30px;
        }

        div .redes i {
            font-size: 50px;
        }

        footer {
            display: flex;
        }

        p {
            font-size: 30px;
        }

        .barra a {
            font-size: 30px;
        }

        .precio {
            height: 140px;
            ;
        }

        div .precio .valor {
            margin-top: 5px;
            font-size: 30px;
        }

        .valor:hover {
            height: 8rem;
        }

        input {
            font-size: 30px;
        }

        .btn {
            font-size: 30px;
        }

        .img {
            border-radius: 150px;
            max-width: 300px;
        }
    }
    @media (max-width:1980px){

    }
}


#trabajo {
    @media (max-width:425px) {
        div .nav {
            display: inline-block;
        }

        .link {
            display: inline-block;
        }

        .link li {
            margin-top: 10px;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

        div .footer {
            display: inline-block;
            max-height: 50vh;
        }
    }

    @media (max-width:1024px) {
        .container1 .video {
            width: 600px;
            height: 350px;
        }

        .container1 p {
            margin-left: 8rem;
            margin-top: 0;
        }
    }

    @media (width:1366px) {
        .container1 .video {
            width: 600px;
            height: 350px;
        }

        .container1 p {
            margin: 6rem;
            margin-top: 0;
        }
    }


    @media (max-width:1440px) {
        .container1 .video {
            width: 600px;
            height: 350px;
        }

        .container1 p {
            margin-left: 8rem;
            margin-top: 0;
        }
    }

    @media (min-width:2560px) {
        .container1 .video {
            width: 1054px;
            height: 596px;
        }

        .menu {
            font-size: 30px;

        }

        .container1 p {
            font-size: 30px;
            margin: 5rem;
            margin-top: 0;
        }

        i {
            font-size: 30px;
        }

        ul {
            font-size: 30px;
        }

        div .redes i {
            font-size: 50px;
        }

        footer {
            display: flex;
        }

        p {
            font-size: 30px;
        }

        input {
            font-size: 30px;
        }

        .btn {
            font-size: 30px;
        }

        .img {
            border-radius: 150px;
            max-width: 300px;
        }
    }
}

#galeria {
    @media (max-width:425px) {
        .navbar {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "nav nav nav nav"
                "header header header header"
                "footer footer footer footer";
        }

        div .nav {
            display: inline-block;
        }

        .barra {
            display: flex;
            flex-direction: column;
        }

        .jordan {
            width: 200px;
        }

        .listado1 {
            display: flex;
            flex-direction: column;
        }

        .link {
            display: inline-block;
        }

        .link li {
            margin-top: 24px;

            .precio {
                display: flex;
                flex-direction: column;
            }

            .listado1 {
                display: inline-block;
            }

            .column.subscribe {
                display: none;
            }

            .column.links {
                display: none;
            }

            div .footer {
                display: inline-block;
                max-height: 50vh;
            }
        }
    }

    @media (max-width:436px) {
        .navbar {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "nav nav nav nav"
                "header header header header"
                "footer footer footer footer";
        }

        .nav {
            grid-area: nav;
        }

        .header {
            grid-area: header;
        }

        .footer {
            grid-area: footer;
        }

        .barra {
            display: flex;
            flex-direction: column;
        }

        .jordan {
            width: 200px;
        }

        .listado1 {
            display: inline-block;
        }

        .link {
            display: inline-block;
        }

        .precio {
            display: flex;
            flex-direction: column;
        }

        .listado1 {
            display: inline-block;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

        #index div .footer {
            display: inline-block;
        }
    }

    @media (max-width:1024px) {
        .jordan {
            max-width: 100px;
            ;
        }

        input {
            width: 150px;
        }


        .column h1 {
            font-size: 20px;
        }

        .column h3 {
            font-size: 20px;
        }

        div .redes i {
            font-size: 30px;
        }
    }

    @media (max-width:1440px) {
        .jordan {
            max-width: 200px;
            ;
        }

        input {
            width: 150px;
        }

        .listado1 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }


        .column h1 {
            font-size: 20px;
        }

        .column h3 {
            font-size: 20px;
        }

        div .redes i {
            font-size: 30px;
        }
    }

    @media (min-width:2560px) {
        .menu {
            font-size: 30px;

        }

        i {
            font-size: 30px;
        }

        .listado1 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        ul {
            font-size: 30px;
        }

        div .redes i {
            font-size: 50px;
        }

        footer {
            display: flex;
        }

        p {
            font-size: 30px;
        }

        .barra a {
            font-size: 30px;
        }

        .precio {
            height: 140px;
            ;
        }

        div .precio .valor {
            margin-top: 5px;
            font-size: 30px;
        }

        .valor:hover {
            height: 8rem;
        }

        input {
            font-size: 30px;
        }

        .btn {
            font-size: 30px;
        }

        .img {
            border-radius: 150px;
            max-width: 300px;
        }
    }

}

#biografia {
    @media(max-width:1440px) {
        .container1 {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}